.content {
	display: block;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1.5rem;
}

.info span {
	background: var(--gray-400);
	color: var(--gray-200);
	padding: 0.125rem 0.5rem;
	margin-left: 0.25rem;
	border-radius: 0.5rem;
}

.emptyList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4rem 1.5rem;

	border-radius: 0.5rem;
	border-top: groove 0.0625rem var(--gray-300);
}

.emptyList img {
	margin-bottom: 1rem;
}

.emptyList p {
	color: var(--gray-300);
}

.list {
	list-style: none;
}

.listItem {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
	background: var(--gray-500);
}

.listItem .radioField {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	width: 0.9375rem;
	height: 0.9375rem;
	border: 0.125rem solid var(--blue);
	border-radius: 50%;
	display: grid;
	place-content: center;
}

.listItem .radioField:focus {
	outline: transparent;
	box-shadow: none;
}

.listItem .radioField:checked {
	display: none;
}

.listItem .radioField:checked + img {
	display: block;
}

.listItem .radioChecked {
	display: none;
	width: 0.9375rem;
	height: 0.9375rem;
	padding: 0.125rem;
	border-radius: 50%;
	background: var(--purple);
}

.listItem .description {
	width: 100%;
	margin: 0 0.75rem;
}

.listItem + .listItem {
	margin-top: 0.75rem;
}

.deleteButton {
	background: transparent;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	line-height: 0;
  padding: 0.375rem;

	transition: color 0.5s;
}

.deleteButton:hover {
	background-color: var(--gray-400);
}

.deleteButton:hover .deleteIcon {
  filter: brightness(0) saturate(100%) invert(28%) sepia(95%) saturate(743%) hue-rotate(331deg) brightness(94%) contrast(89%);
}

