.wrapper {
  display: block;
  justify-content: center;
  align-items: flex-start;

  margin: auto;
  max-width: 46rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    padding: 0.1rem;
  }
}
