.wrapper {
  max-width: 46rem;
  margin: 2rem auto;
  padding: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    padding: 0.5rem;
    grid-template-columns: 1fr;
  }
}